.tempShow {
  display: none;
}
@media (max-width: 1280px) {
  .forecast {
    display: none;
  }
}

@media (max-width: 1200px) {
  .weatherCard {
    display: block !important;
    width:50%;
    min-width: 360px;
  }
  .tempShow {
    display: block !important;
  }
  .initialTempShow {
    display: none;
  }
}

@media (max-width: 800px) {
  .cardContent {
    display: block !important;
  }
}
@media (max-width: 997px) {
  .SunRiseDiv {
    display:flex !important; 
    flex-direction: column;
  }
}


/* styling for the error page
.error
{
  padding:1rem;
} */